<div id="main">
    <header>
        <nav class="navbar navbar-dark bg-dark  navbar-expand-lg">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button  (click) = "clear()">
                        <h5>Sign Out</h5>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    <h1>TIC TAC TOE, Welcome {{username}}</h1>

    <!-- Game Instructions -->
    <p id="ins">Game starts by just Tap on 
        box<br><br>First Player starts as 
        <b>Player X</b><br>And<br>Second 
        Player as <b>Player 0</b>
    </p>




    <br><br>
    <!-- 3*3 grid of Boxes -->
    <input type="text" readonly>

    <input type="text"readonly>

    <input type="text" readonly>
    <br><br>

    <input type="text"readonly>
           
    <input type="text"  readonly>

    <input type="text"  readonly>
    <br><br>

    <input type="text" readonly>

    <input type="text" readonly>

    <input type="text" readonly>

    <!-- Grid end here  -->
    <br><br><br>
    <!-- Button to reset game -->
    <button >
        RESET
    </button>

    <br><br>




</div>